.itinerary {
  padding: 3rem;
  width: 100%;
  height:100%;
  background-color: white ;
  font-family: Lato;
}

.itinerary img {
  max-width: none;
}
.itinerary h1 {
   color: black;
}

.itinerary h2 {
  text-transform: uppercase;
}

#earth-tone h2 {
  color:#04b3c2;
}
#moon-tone h2 {
  color:#a09f9f;
}
#mars-tone h2{
  color:#d53b27;
}
#sun-tone h2{
  color:#ffdd00
}

.itinerary a.button.itinerary-download {
  color:white;
  text-align:center;
  width: 11.25rem;
  height:3.25rem;
  padding-top: 1rem;
  padding-bottom:1rem;
  line-height:1.25rem;
}
.headline img {
  margin-top:-2rem;
}
.intinerary-byline {
  vertical-align: middle;
  font-weight:900;
  font-size:1.5rem;
  text-transform: uppercase;
}
.citizen-science-link {
  background-color:white;
}

#earth-tone a.button.itinerary-download   {
  background-color: #04b3c2;
}
#moon-tone  a.button.itinerary-download {
   background-color::#a09f9f;
}
#mars-tone a.button.itinerary-download {
  background-color::#d53b27;
}
#sun-tone a.button.itinerary-download  {
  background-color::#ffdd00
}



