/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/

/* general */

/* Foundation Over-rides 
.row {
  max-width = 100%;
}
*/
/* working section labels - remove */
/*
h6 {
  color:green;
}


/* elements */
html {
  font-size: 16px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: white;  
  font-size: .75rem;
  color: black;
  overflow-x: hidden; 
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

/* site header */
header {
  background-color: black;
  color: white;
  height: 4em;
}
header a {
  color:white;
}
header li {
  color:gray;
}

footer {
  background-color: black;
}
footer nav {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem;  /* 10px circa*/
}

footer nav h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  /*color:white;*/
}

footer ul h2 {
  color: white;
}
footer ul h2 {
  color: white;
}

footer ul li a {
  color: white;
}
footer ul.copyright {
  color:white;
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem; 
  list-style-type: none; 
  text-align: center;
}

footer ul.copyright li {
  padding-right:  1rem;
  display: inline-block;
}
/* motifs */
.little_rule {
  width: 5px;
}


/* sections */
/* discover-the-show */
#discover-the-show div {
  /*;
  border-color: red;
  border-style:  solid;*/
}

#discover-the-show, #header {  
  background-color: black;
 /* background-repeat: no-repeat; 
  background-size: cover;
  background-position:left top;  */
}

#discover-the-show h1,
#discover-the-show h2, 
#discover-the-show h3, 
#discover-the-show p, #discover-the-show div {
  color: white; 
}

#visit-mars{
  padding-top: 250px;
 /* margin-top: 15.625rem; /* 250px / 16 */
  padding-top: 15.625rem;
  padding-top: 15.625rem;
}
#visit-mars h1 {
  color: white;
}

#visit-mars p{
  color: gray;
}

#show-title {
  padding-top: 250px;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, 
#your-spacecation h2,
#your-spacecation h3, 
#your-spacecation p {
  color:white;
}


/* press-and-images */
#press-and-images  {
  background-color: black ;
}
#press-and-images .feed-box {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: gray ; 
}

#press-and-images .feed-box h1{
  padding: 1em;
  color: white ; 
}


/* buy tickets */
#buy-tickets {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/*
#foot .footColumn {
 padding-left:0;
 padding-right:0;
}

#bye {
  padding-left 50px;
}
*/

a.button {
  background-color: #ff1b00;
}

a.button:hover {
  background-color: #ff1b00;
}

/* Sticky Navy Bar */
.sub-nav {
  overflow: inherit;
}
.sub-nav dd {
  margin-left: 0;
}

#sticky-nav {
  margin-top: 4rem;
  background-color: transparent;
}
#test_content .sub-nav dd a ,
#sticky-nav .sub-nav dd a  {
  color: white;
  padding-left:2rem;
  padding-right:2rem;
  padding-top:  1rem;
  padding-bottom:1rem;
}

a.discover, 
.sub-nav dd.active a.discover {
   background-color: #ffc400;
 } 
 
a.explore, 
.sub-nav dd.active a.explore {
   background-color: #00b7c5;
 } 
 
a.spacecation, 
.sub-nav dd.active  a.spacecation {
   background-color: #8cd635;
 } 
 
a.visit,  
.sub-nav dd.active a.visit {
  background-color: #ff1b00;
}

a.press,  
.sub-nav dd.active a.press {
  background-color: #373737;
}
/*
.arrow-box {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffc400;
} */
/*
.arrow_box {
  position: relative;
  background: #ffc400;
  border: 36px solid ffc400;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(252, 64, 0, 0);
  border-top-color: #ffc400;
  border-width: 36px;
  margin-left: -36px;
}
.arrow_box:before {
  border-color: rgba(252, 64, 0, 0);

  border-top-color: #ffc400;
  border-width: 87px;
  margin-left: -87px;
}*/

/* CRUFT */
.black {
  padding-top: 100px;
  background-color: gray;
}

#test_content div {

}
#test_content * {
  color:black;
}
/*
#test_content h3 {
  line-height:400px;
  background-color: gray;
}*/

/*
#header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: #101010;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);0.625

  background-color: #101010;
  color: #c2c2c2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
  */