/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/

/* general */


p {
  text-align:justify;
  font-weight:200;
  font-size:1.125rem;
  line-height: 1.625rem;

}

h1 {
  font-size: 26px;
  font-family: Lato;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 80px;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: white; 
  color: black;
  overflow-x: hidden; 
}

body, section {
  /*max-width:1200px;*/
}

hr {
  padding:0px;
  margin:auto;
  margin-bottom: 1.9rem;
  height:.25rem;
  width: 3rem;
}
hr.white {
  background-color: white;
}

hr.black {
  background-color: black;
}

/****************/
/* site header */
header {
  background-color: black; 
  color: white;
  height: 4em;
}
header a {
  color:white;
}
header li {
  color:gray;
}

#logo {
  margin :0;
}

#logo a {
  margin-top: 0px;
  padding: .75rem;
  padding-top:0;
  float:left;
}

#logo img {
  max-width: none;
}


header ul.hours  {
  line-height: 1.3125rem;
}

header #right-top a {
  color: white;
}

header #right-top div {
  color: gray;
}


header #right-top a,header #right-top span
{
  font-weight: 700;
  font-size: 0.5625rem;
  padding: 0;
  text-transform: uppercase;
}

header ul.hours li {
  height: 1.3125rem;
  line-height: 1.3125rem;
  margin: 1rem 0 0 0; 
  padding:0 0.75rem;
  border-right: 1px solid gray;
}

header ul.hours .shop {
  border-right-style: none;
}


/****************/
/* site footer */
footer {
  background-color: black;
}
footer nav {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem;  /* 10px circa*/
}

footer nav h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  /*color:white;*/
}

footer ul h2 {
  color: white;
}
footer ul h2 {
  color: white;
}

footer ul li a {
  font-size: 0.625rem; 
  color: white;
}
footer ul.copyright {
  color:white;
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem; 
  list-style-type: none; 
  text-align: center;
}

footer ul.copyright li {
  padding-right:  1rem;
  display: inline-block;
}

/* button colors */
a.button {
  width: 11.5rem;
  height:3.25rem;
  padding-top: 1rem;
  padding-bottom:1rem;
  line-height:1.25rem;
}


a.button.buy{
  background-color: #ff1b00;
}

/***************************/
/* sections */
/* discover*/


#discover-the-show {
 background-color: black ;
}


#discover-the-show h1,
#discover-the-show h2, 
#discover-the-show h3, 
#discover-the-show p, #discover-the-show div {
  color: white; 
}


#visit-mars{
  background-image: url(../img/dss-web-hero.jpg);
  padding-top: 15.625rem;
  vertical-align: center;
  background-repeat: no-repeat;
}

#visit-mars {
  border:solid blue;
}

.row {
  border:solid orange;
}
section {
  border:solid purple;
}

#call-to-action h1 {
  margin-top: 0;
} 
#call-to-action  {
  margin-bottom: 10rem; 
} 

#show-title {
  
}

#trailer {

}

#trailer {
  width:100%;
  height:100%;
  margin-top:0rem;
  padding-top: 3rem;
  margin-left:auto;
  margin-right:auto;
  background-image: url(../img/dss-web-trailer.jpg) ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
  box-shadow: inset 0 20px 40px rgba(0,0,0, 0.9);
}

#sponsors{
  margin-top:3rem;
  display:block;
  margin-left:auto;
  margin-right:auto;  
}

#call-to-action h1 {
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 0;
}
#call-to-action p {
  color:gray;
}



a.button.watch-trailer {
  padding:0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 3rem;
  display: block;
  border-radius:4px;
  border: 2px solid white;
  background-color: black;
  color:white;
  font-weight: 900;
  font-size:1rem;
  padding:0;
  line-height:3.75rem;/*60px*/
  height:3.75rem;
  width:13.75rem; /*220px */
  position: none;
}

/***************************/
/* explore */

.planet-image-link {
  max-width:6.25rem;
  margin-left:auto;
  margin-right:auto;
}
.planet-image-link img {
  margin-left:auto;
  margin-right:auto;
}
#tour-links {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#tour-links .columns {
  text-align:center;
}

.planet-link {
  margin-left: auto;
  margin-right: auto;
  color:black;
  margin:auto;
  max-width: 100px;
  width: 222px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align:center;
  text-transform:uppercase;
}

.planet-link:visited {
  color:black;
}
.tour-caption {
  margin-top: .5rem;
}
.tour-caption,.tour-image {
  margin:0;
  padding:0;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, 
#your-spacecation h2,
#your-spacecation h3, 
#your-spacecation p {
  color:white;
}

#insta-blurb p {
  margin-bottom:2rem;
}

#instafeed-container {
  padding-bottom:2.5rem;
}

#instafeed li{
  text-align:center;
  vertical-align: center;
}

.instagram-image {
  vertical-align: center;
  /*width:225px;*/
}

/* press-and-images */
#press-and-images  {
  padding-bottom: 3rem;
  background-color: black ;
}

#press-and-images-row {
  padding-top: 3rem;
}

#press-and-images-row p{
  font-size: .75rem;
  color:white;
}
/*
#press-and-images .press-and-images-link {
  
  margin-bottom: 2rem;
  padding-bottom:1rem;
  margin-left:auto;
  margin-right:auto;
  width: 40.6875rem;
  text-align:center;
  vertical-align:center;
  background-color: red ; 
}
*/


#press-and-images a.button.press-and-images-link {
  padding:0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 3rem;
  display: block;
  border-radius:4px;
  border: 2px solid white;
  background-color: black;
  color:white;
  font-weight: 900;
  font-size:1rem;
  padding:0;
  line-height:3.75rem;/*60px*/
  height:3.75rem;
  width:11.75rem; /*220px */
  position: none;
}



/* visit-the-adler */
#visit-the-adler {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}


/********************/
/* Sticky Navy Bar */

/* behavior */

a.discover, 
.nav-links a.discover.active {
  background-color: #ffc400;
} 
a.explore, 
a.explore.active {
  background-color: #00b7c5;
} 
a.spacecation, 
a.spacecation.active {
  background-color: #8cd635;
} 
a.visit,  
a.visit.active {
  background-color: #ff1b00;
}
a.press,  
a.press.active {
  background-color: #373737;
}

/* navigation arrow effect */

#site-navigation:after,
#site-navigation:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  left: 10%;
  position:absolute;
  pointer-events: none;
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  -ms-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}

#site-navigation.pos1:after,
#site-navigation.pos1:before {
  left: 10%;
}
#site-navigation.pos2:after,
#site-navigation.pos2:before {
  left: 30%;
}
#site-navigation.pos3:after,
#site-navigation.pos3:before {
  left: 50%;
}
#site-navigation.pos4:after,
#site-navigation.pos4:before {
  left: 70%;
}
#site-navigation.pos5:after,
#site-navigation.pos5:before {
  left: 90%;
}

#site-navigation:before {
  border-top-color:  #ffc400; 
  border-width: 14px;
  margin-left: -14px;
  /*border-width: .875rem;
  margin-left: -.875rem;*/

}
#site-navigation:after {
  border-top-color:  #ffc400; 
  border-width: 8px;
  margin-left: -8px;
}

#site-navigation.pos1::before,
#site-navigation.pos1::after {
  border-top-color:  #ffc400; 
}
#site-navigation.pos2::before,
#site-navigation.pos2::after {
  border-top-color:  #00b7c5;
}
#site-navigation.pos3::before ,
#site-navigation.pos3::after {
  border-top-color: #8cd635;
}
#site-navigation.pos4::before ,
#site-navigation.pos4::after {
  border-top-color: #ff1b00;
}
#site-navigation.pos5::before,
#site-navigation.pos5::after {
  border-top-color: #373737;
}
 
#site-navigation a:first-child {
  border-left: none;
}
#site-navigation a:last-child {
  border-right: none;
}

#site-navigation {
  width:60%;
  margin-left:auto; 
  margin-right:auto;
  text-align:center;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  position: relative;
  z-index: 20;
}

.nav-links {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}


#site-navigation a {
  display:inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:white;
  font-size:1.0625rem;
  line-height:4rem;
  font-weight:700;
  height:4rem;
  width:20%;
  margin: 0 0 0 0;
  padding:0;
  text-align:center;
}
#site-navigation.fixed {
  position: fixed !important;
  text-align:center;
  top:0;
  left: 0; 
  right: 0;
  margin-left:auto;
  margin-right:auto;
} 
/*
div{border: solid blue;}
section{border: solid purple;}*/