/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/
html {
  font-size: 16px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: white;
  
  font-size: .75rem;
  color: black;
  overflow-x: hidden;
  
}
/*
#header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: #101010;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);0.625

  background-color: #101010;
  color: #c2c2c2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
  */
header {
  background-color: black;
  color: white;
  height: 4em;
}
header a {
  color:white;
}
header li {
  color:gray;
}

footer {
  background-color: black;
}
footer nav {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem;  /* 10px circa*/
}

footer nav h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  /*color:white;*/
}

footer ul h2 {
  color: white;
}
footer ul h2 {
  color: white;
}

#foot {
  background-color: black
}
footer ul li a {
  color: white;
}
footer ul.copyright {
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem;  
  text-align: center;
}
/*
footer ul.copyright a {
  background-color: blue;  
  color:red;
  padding: 20px;   
}*/




.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}


.little_rule {
  width: 5px;
}

#spacecation hr {
  al==
  color: white;
}

/* Foundation Over-rides 
.row {
  max-width = 100%;
}
*/
/* working section labels - remove */
/*
h6 {
  color:green;
}
/*
div {
  border-color: blue;
  border-style:  solid; 
} 
section {
  border-color: purple;
  border-style:  solid;
}*/



/* sections */
/* discover-the-show */
#discover-the-show div {
  /*;
  border-color: red;
  border-style:  solid;*/
}

#discover-the-show, #header {  
  background-color: black;
 /* background-repeat: no-repeat; 
  background-size: cover;
  background-position:left top;  */
}

#discover-the-show h1,
#discover-the-showh h2, 
#discover-the-showh h3, 
#discover-the-showh1 p, #discover-the-showh1 div {
  color: white; 
}

#visit-mars{
  padding-top: 250px;
 /* margin-top: 15.625rem; /* 250px / 16 */
  padding-top: 15.625rem;
  padding-top: 15.625rem;
}
#visit-mars h1 {
  color: white;
}

#visit-mars p{
  color: gray;
}

#show-title {
  padding-top: 250px;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, h2,h3 {
  color:white;
}


/* main-site-feed */
#main-site-feed  {
  background-color: black ;
}
#main-site-feed .feed-box {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: gray ; 
}

#main-site-feed .feed-box h1{
  padding: 1em;
  color: white ; 
}


/* buy tickets */
#buy-tickets {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
/*
#foot .footColumn {
 padding-left:0;
 padding-right:0;
}

#bye {
  padding-left 50px;
}
*/

a.button.success {
  background-color: #ff5a00;
}

/* CRUFT */
