/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/

/* general */
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

html {
  font-size: 16px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: white;  
  font-size: .75rem;
  color: black;
  overflow-x: hidden; 
}

/****************/
/* site header */
header {
  background-color: black;
  color: white;
  height: 4em;
}
header a {
  color:white;
}
header li {
  color:gray;
}


/****************/
/* site footer */
footer {
  background-color: black;
}
footer nav {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem;  /* 10px circa*/
}

footer nav h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  /*color:white;*/
}

footer ul h2 {
  color: white;
}
footer ul h2 {
  color: white;
}

footer ul li a {
  color: white;
}
footer ul.copyright {
  color:white;
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem; 
  list-style-type: none; 
  text-align: center;
}

footer ul.copyright li {
  padding-right:  1rem;
  display: inline-block;
}

/* button colors */
a.button {
  background-color: #ff1b00;
}

a.button:hover {
  background-color: #ff1b00;
}

/*********************/
/* sections */

#discover-the-show, #header {  
  background-color: black;
}

#discover-the-show h1,
#discover-the-show h2, 
#discover-the-show h3, 
#discover-the-show p, #discover-the-show div {
  color: white; 
}

#visit-mars{
  padding-top: 250px;
  padding-top: 15.625rem;
  padding-top: 15.625rem;
}

#visit-mars h1 {
  color: white;
}

#visit-mars p{
  color: gray;
}

#show-title {
  padding-top: 250px;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, 
#your-spacecation h2,
#your-spacecation h3, 
#your-spacecation p {
  color:white;
}

/* press-and-images */
#press-and-images  {
  background-color: black ;
}
#press-and-images .feed-box {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: gray ; 
}

#press-and-images .feed-box h1{
  padding: 1em;
  color: white ; 
}

/* buy tickets */
#buy-tickets {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


/********************/
/* Sticky Navy Bar */
.magellan-container{
  background-color: inherit;
}
.sub-nav {
  /*margin-left:0;*/
  overflow: inherit;
}
#nav-column {
  padding-left:0;
  padding-right:0;
}
.sub-nav dd {
  margin-left: 0;
}

#sticky-nav {
  margin-top: 4rem;
  background-color: transparent;
}

#sticky-nav .sub-nav dd a  {
  width:inherit;
  height:inherit;
  color: white;
}

#sticky-nav .sub-nav dd {
  padding-top:  1rem;
  padding-bottom:1 rem;
  width:20%;
}

dd.discover, 
.sub-nav dd.active.discover {
   background-color: #ffc400;
 } 
 
.sub-nav dd.explore, 
.sub-nav dd.active.discover{
   background-color: #00b7c5;
 } 
 
.sub-nav dd.spacecation, 
.sub-nav dd.active.spacecation {
   background-color: #8cd635;
 } 
 
.sub-nav dd.visit,  
.sub-nav dd.visit {
  background-color: #ff1b00;
}

.sub-nav dd.press,  
.sub-nav dd.active.press {
  background-color: #373737;
}

/*
.arrow-box {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffc400;
} */
/*
.arrow_box {
  position: relative;
  background: #ffc400;
  border: 36px solid ffc400;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(252, 64, 0, 0);
  border-top-color: #ffc400;
  border-width: 36px;
  margin-left: -36px;
}
.arrow_box:before {
  border-color: rgba(252, 64, 0, 0);

  border-top-color: #ffc400;
  border-width: 87px;
  margin-left: -87px;
}*/

/* CRUFT */
/*
#header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: #101010;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);0.625

  background-color: #101010;
  color: #c2c2c2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
*/
/******************/
/* debugging 
#sticky-nav{
  border-color: blue;
  border-style: dotted;
}
 .maggelan-container {}
  border-color: gray;
  border-style: dotted;
}
div {
  border-color: purple;
  border-style:  solid
}
dl {
  border-color: red;
  border-style:  solid
}

dd {
  border-color: green;
  border-style:  solid
}

dd a {
 
  border-color: green;
  border-style:  dotted
}

header {
  
  border-color: green;
  border-style:  dotted;
}
*/



