/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/

/* general */
p {
  font-weight:200;
  font-size:1.125rem;
  line-height: 1.75rem;
  text-align: left;
}

h1 {
  font-size: 1.625rem;
  font-family: Lato;
  font-weight: 700;
  letter-spacing:  0.1875 
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
  margin-top: 5rem;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: black; 
  color: white;
  overflow-x: hidden; 
}

hr {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1.9rem;
  height: 0.25rem;
  width: 3rem;
}

hr.white {
  background-color: white;
}

hr.black {
  background-color: black;
}

/****************/
/* site header */
header {
  color: white;
  height: 4rem;
  padding-top: 1rem;
}
header a {
  color:white;
}
header li {
  color:gray;
}

#logo a {
  margin-top: 0px;
  padding: .75rem;
  padding-top:0;
  float:left;
}

#logo img {
  max-width: none;
}


header ul.hours  {
  line-height: 1.3125rem;
}

header #right-top a {
  color: white;
}

header #right-top div {
  color: gray;
}


header #right-top a,header #right-top span
{
  font-weight: 700;
  font-size: 0.5625rem;
  padding: 0;
  text-transform: uppercase;
}

header ul.hours li {
  height: 1.3125rem;
  line-height: 1.3125rem;
  margin: 1rem 0 0 0; 
  padding:0 0.75rem;
  border-right: 1px solid gray;
}

header ul.hours .shop {
  border-right-style: none;
}


/****************/
/* site footer */
footer {
  background-color: black;
}


#footer-nav-bar {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem; 
}

#footer-nav-bar img {
  margin-bottom: 2rem;
}
footer  h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  color: white;
} 


footer ul li a {
  font-size: 0.625rem; 
  color: white;
}
footer ul.copyright {
  color: white;
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem; 
  list-style-type: none; 
  text-align: center;
}

footer ul.copyright li {
  padding-right:  1rem;
  display: inline-block;
}

/* button colors */
.button {
  background-color: transparent;
  border: 0.15rem solid #fff;
  font-weight: 900;
  height: 3.3rem;
  line-height: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.button:hover {
  background-color: inherit
}

.button.spacer {
  margin: 2rem 0;
}

.button.orange {
  background-color: #ff1b00;
}

.button.arrow {
  padding-right: 3rem;
  text-align: left;
}

.button.arrow:after {
  border: 5px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  top: 40%;
  right: 15%;
}

.inline-list {
  display: table;
  margin: 0;
  width: 100%;
}

.inline-list > li {
  display: table-cell;
  float: none;
  margin-left: 0;
}

/***************************/
/* sections */
/* discover*/


#discover-the-show {
 background-color: black ;
}

#discover-the-show h1,
#discover-the-show h2, 
#discover-the-show h3, 
#discover-the-show p, #discover-the-show div {
  color: white; 
}

#visit-mars{
  padding-top: 15.625rem;
  vertical-align: center;
  background-repeat: no-repeat;
}

.header-container {
  background-image: url(../img/dss-web-hero.jpg);
  background-size: cover;
}

#call-to-action {
  color: #fff;
  margin-bottom: 10rem; 
  text-align: center;
} 

#call-to-action h1 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

#trailer {
  height:100%;
  margin-top:0rem;
  padding: 3rem 0;
  background-image: url(../img/dss-web-trailer.jpg) ;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 20px 40px rgba(0,0,0, 0.9);
  text-align: center;
}

#space-express-logo {
  margin: 0 0 2.5rem 2.5rem;
}

#sponsors .columns{
  margin-top:3rem;
  display:block;
  margin-left:auto;
  margin-right:auto;  
}

/***************************/
/* explore */
#explore-the-stops {
  background-color:white;
  color:black;
  padding-bottom: 6rem;
}

.planet-link {
  text-align: center;
}

.planet-link a {
  color: black;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.planet-link img {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 6.25rem;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, 
#your-spacecation h2,
#your-spacecation h3, 
#your-spacecation p {
  color:white;
}

#insta-blurb p {
  margin-bottom:2rem;
}

#instafeed-container {
  padding-bottom:2.5rem;
}

#instafeed li{
  text-align:center;
  vertical-align: center;
}

.instagram-image {
  vertical-align: center;
  /*width:225px;*/
}

/* press-and-images */
#press-and-images  {
  padding-bottom: 3rem;
  background-color: black ;
}

#press-and-images-row {
  padding-top: 3rem;
}

#press-and-images-row p{
  font-size: .75rem;
  color:white;
}

/* visit-the-adler */
#visit-the-adler {
  background-color:black;
  color:white;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}


/********************/
/* Sticky Navy Bar */

/* behavior */

a.discover, 
.nav-links a.discover.active {
  background-color: #ffc400;
} 
a.explore, 
a.explore.active {
  background-color: #00b7c5;
} 
a.spacecation, 
a.spacecation.active {
  background-color: #8cd635;
} 
a.visit,  
a.visit.active {
  background-color: #ff1b00;
}
a.press,  
a.press.active {
  background-color: #373737;
}

/* navigation arrow effect */

#site-navigation:after,
#site-navigation:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  left: 10%;
  position:absolute;
  pointer-events: none;
  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  -ms-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}

#site-navigation.pos1:after,
#site-navigation.pos1:before {
  left: 27%;
}
#site-navigation.pos2:after,
#site-navigation.pos2:before {
  left: 38.5%;
}
#site-navigation.pos3:after,
#site-navigation.pos3:before {
  left: 50%;
}
#site-navigation.pos4:after,
#site-navigation.pos4:before {
  left: 61.5%;
}
#site-navigation.pos5:after,
#site-navigation.pos5:before {
  left: 73%;
}

#site-navigation:before {
  border-top-color:  #ffc400; 
  border-width: 14px;
  margin-left: -14px;
  /*border-width: .875rem;
  margin-left: -.875rem;*/

}
#site-navigation:after {
  border-top-color:  #ffc400; 
  border-width: 8px;
  margin-left: -8px;
}

#site-navigation.pos1::before,
#site-navigation.pos1::after {
  border-top-color:  #ffc400; 
}
#site-navigation.pos2::before,
#site-navigation.pos2::after {
  border-top-color:  #00b7c5;
}
#site-navigation.pos3::before ,
#site-navigation.pos3::after {
  border-top-color: #8cd635;
}
#site-navigation.pos4::before ,
#site-navigation.pos4::after {
  border-top-color: #ff1b00;
}
#site-navigation.pos5::before,
#site-navigation.pos5::after {
  border-top-color: #373737;
}
 
#site-navigation a:first-child {
  border-left: none;
}
#site-navigation a:last-child {
  border-right: none;
}

.nav-links {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

#site-navigation {
  position: relative;
}

#site-navigation a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:white;
  font-size:1.0625rem;
  line-height:4rem;
  font-weight:700;
  height:4rem;
  margin: 0 0 0 0;
  padding:0;
  text-align:center;
}
#site-navigation.fixed {
  position: fixed;
  text-align:center;
  top:0;
  left: 0; 
  right: 0;
  margin-left:auto;
  margin-right:auto;
} 
/*
div{border: solid blue;}
section{border: solid purple;}*/

.menu-padded {
  margin-top: 3.125rem;
}

.button-area {
  text-align: right;
}

@media only screen and (max-width: 64rem) {
  /*
  [class*="column"] + [class*="column"]:last-child {
    float: right; 
  }*/

  #space-express-logo {
    margin-left: 0;
  }

  #site-navigation:before,
  #site-navigation:after {
    border-color: transparent !important;
  }

  .fixed {
    position: relative !important;
  }

  .menu-padded {
    margin-top: 0;
  }

  .button-area {
    text-align: center;
  }

  .planet-link {
    margin: 1rem 0;
  }

  #sponsors .sponsors-image-container{
    margin-top:3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
  } 

  #sponsors .sponsors-image-container img {
    max-width: 100%;
  }

  footer {
    height: inherit;
  }

  footer #footer-nav-bar {
    padding: 1rem 0 1rem 0;
  }

  #copyright-row {
    height:100%;
  }

  footer ul.copyright {
    margin:0;
    height: 3rem;
    line-height:  3rem;
    font-size: 0.625rem; 
    list-style-type: none; 
    text-align: left;
  }

  footer ul.copyright li {
    display: block
  }

}
