/* Desktop Font Sizes in rem
 1rem = 16 px 
 0.625rem;  10px circa
 0.75rem;  12px circa 
*/
/**/
div {
  border-style:solid;
  border-color:blue;
  border-width:1px;
}
a {
  border-width:1px;
  border-style:solid;
  border-color:red;
}
img {
  border-width:1px;
  border-style:solid;
  border-color:black; 
}

section, header, footer {
  border-style:solid;
  border-color:purple;
}
dd {
  border-style:solid; border-color:orange;
}
span {
  border-style:solid; border-color:yellow;
} 

#tour-links .columns {
  text-align:center;
}

/* general */
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
}

 h1, h2, h3, h4, h5, h6, p, div {
  color: black; 
}

body {
  background-color: white; 
  color: black;
  overflow-x: hidden; 
}

hr {
  padding:0px;
  margin:auto;
  margin-bottom: 1.9rem;
  height:.25rem;
  width: 3rem;
}
hr.white {
  background-color: white;
}

hr.black {
  background-color: black;
}

/****************/
/* site header */
header {
  background-color: black; 
  color: white;
  height: 4em;
}
header a {
  color:white;
}
header li {
  color:gray;
}


#logo {
  margin :0;
}

#logo a {
  margin-top: 0px;
  padding: .75rem;
  padding-top:0;
  float:left;
}

#logo img {
  max-width: none;
}

header ul.hours  {
  line-height: 1.3125rem;
}

header #right-top a {
  color: white;
}

header #right-top div {
  color: gray;
}


header #right-top a,header #right-top span
{
  font-weight: 700;
  font-size: 0.5625rem;
  padding: 0;
  text-transform: uppercase;
}

header ul.hours li {
  height: 1.3125rem;
  line-height: 1.3125rem;
  margin: 1rem 0 0 0; 
  padding:0 0.75rem;
  border-right: 1px solid gray;
}

header ul.hours .shop {
  border-right-style: none;
}


/****************/
/* site footer */
footer {
  background-color: black;
}
footer nav {
  padding: 2rem 0 4rem 0;
  font-size: 0.625rem;  /* 10px circa*/
}

footer nav h2 {
  margin: 0 0 0.3125rem 0;
  font-size: .75rem;
  font-weight: 700;
  /*color:white;*/
}

footer ul h2 {
  color: white;
}
footer ul h2 {
  color: white;
}

footer ul li a {
  color: white;
}
footer ul.copyright {
  color:white;
  height: 3rem;
  line-height:  3rem;
  font-size: 0.625rem; 
  list-style-type: none; 
  text-align: center;
}

footer ul.copyright li {
  padding-right:  1rem;
  display: inline-block;
}

/* button colors */
a.button {
  width: 11.25rem;
  height:3.25rem;
  padding-top: 1rem;
  padding-bottom:1rem;
  line-height:1.25rem;
}

a.button.buy{
  background-color: #ff1b00;
}

/***************************/
/* sections */
/* discover*/
#discover-the-show, #header {  
  background-color: black;
}

#discover-the-show h1,
#discover-the-show h2, 
#discover-the-show h3, 
#discover-the-show p, #discover-the-show div {
  color: white; 
}

#visit-mars{
  padding-top: 15.625rem;
}

#visit-mars h1 {
  color: white;
}

#visit-mars p{
  color: gray;
}
/*
#show-title {
  padding-top: 3.5rem; /* 136px-80pxh1 top marg = 56, 56/1600
}*/

a.button.watch-trailer {
  padding:0;
  margin-left:auto;
  margin-right:auto;
  margin:bottom;
  display: block;
  border-radius:4px;
  border: 2px solid white;
  background-color: black;
  color:white;
  font-weight: 900;
  font-size:1rem;
  padding:0;
  line-height:3.75rem;/*60px*/
  height:3.75rem;
  width:13.75rem; /*220px */
  position: none;
}

a.button.watch-trailer:hover
 {
  background-color: #ff1b00;
}

/***************************/
/* explore */

.planet-image-link {
  max-width:6.25rem;
  margin-left:auto;
  margin-right:auto;
}
.planet-image-link img {
  margin-left:auto;
  margin-right:auto;
  max-width: none;
}
#tour-links {
  margin-bottom: 3rem;
}

.planet-link {
  margin-left: auto;
  margin-right: auto;
  color:black;
  margin:auto;
  max-width: 100px;
  width: 222px;
  font-weight: 900;
  letter-spacing: 2px;
  text-align:center;
  text-transform:uppercase;
}

.planet-link:visited {
  color:black;
}
.tour-caption {
  margin-top: .5rem;
}
.tour-caption,.tour-image {
  margin:0;
  padding:0;
}

/* your-spacecation */
#your-spacecation {
  background-color: black;
  color: white;
}

#your-spacecation h1, 
#your-spacecation h2,
#your-spacecation h3, 
#your-spacecation p {
  color:white;
}

#instafeed li{
  text-align:center;
  vertical-align: center;
}

.instagram-image {
  vertical-align: center;
  /*width:225px;*/
}


p {
  text-align:justify;
  font-weight:200;
  font-size:1.125rem;
  line-height: 1.625rem;
}

h1 {
  font-size: 26px;
  font-family: Lato;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 80px;
}


/* press-and-images */
#press-and-images  {
  background-color: black ;
}
#press-and-images .feed-box {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: gray ; 
}

#press-and-images .feed-box h1{
  padding: 1em;
  color: white ; 
}

/* visit-the-adler */
#visit-the-adler {
  margin-top: 4rem;
  margin-bottom: 4rem;
}


/********************/
/* Sticky Navy Bar */
#nav-target {
  display:none;
}
/* behavior */
.fixed {
  position: fixed !important;
  margin-left: 20.3125rem; 
  margin-right:auto;
  top:0;
} /* 325px left gutter on 1200 max width */
#sticky-nav {
  margin-top: 4rem;
  /*background-color: transparent; */
}
/* style */
/*TODO name change*/
.navLinks {
  /*margin-left:0;*/
  /*overflow: inherit;*/
}
#nav-column {
  padding-left:0;
  padding-right:0;
}
.navLinks a {
  display:inline-block;
  padding:0;
  color:white;
  padding:0;
  line-height:4rem;
  text-align:center;
  height:4rem;
  margin-left: 0;
  width:12.25rem;
  font-size:1.0625;
  font-weight:700;
}
a.discover, 
.navLinks a.discover.active {
  background-color: #ffc400;
} 
.navLinks a.explore, 
.navLinks a.explore.active {
  background-color: #00b7c5;
} 
.navLinks a.spacecation, 
.navLinks a.spacecation.active {
  background-color: #8cd635;
} 
.navLinks a.visit,  
.navLinks a.visit.active {
  background-color: #ff1b00;
}
.navLinks a.press,  
.navLinks a.press.active {
  background-color: #373737;
}

/*
.arrow-box {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid red;
} */
/*
.arrow_box {
  position: relative;
  background: #ffc400;
  border: 36px solid ffc400;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(252, 64, 0, 0);
  border-top-color: #ffc400;
  border-width: 36px;
  margin-left: -36px;
}
.arrow_box:before {
  border-color: rgba(252, 64, 0, 0);

  border-top-color: #ffc400;
  border-width: 87px;
  margin-left: -87px;
}

/*
body > .site-navigation:after,
body > .site-navigation:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

body > .site-navigation:after {
  border-top-color: #f8f8f8;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
body > .site-navigation:before {
  border-top-color: #f8f8f8;
  border-width: 14px;
  left: 50%;
  margin-left: -14px;
}
body > .site-navigation a {
  border-right: 1px solid #dfdfdf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  margin: 4px 0 0 0;
  padding: 14px 0 0 0;
  text-align: center;
  width: 235px;
}
body > .site-navigation a.active {
  color: #0084ff;
}
body > .site-navigation a:first-child {
  border-left: none;
}
body > .site-navigation a:last-child {
  border-right: none;
}

*/



